* {
/*    margin: 0 0 0 0;
    border: 0 0 0 0;
    padding: 0 0 0 0;
*/    color: #FFFFFF;
}

body {
    margin-top: 0;
    background-color: #000000;
}

.header {
    margin: 0 0 0 0;
    background-color: #888888;
}

.header * {
    color: #000000;
}

.header ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.header ul li {
    display: inline-block;
}
/*
.footer {
    background-color: #888888;
}

.footer * {
    color: #000000;
}
*/

.footer ul {
    padding: 0 0 0 0;
}

.footer ul li {
    display: inline-block;
}

.nav {
    background-color: #888888;
}

.content {
    padding: 5px 0 5px 0;
    /*border-style: solid;
    border-color: #888888;*/
}

h3 {
    margin-bottom: 5px;
}

